# Simulation
traci
sumolib
eclipse-sumo

# RL & ML
torch==2.2.0
torchvision==0.17.0
gymnasium==0.29.1
numpy==1.26.4
pandas==2.2.0
matplotlib==3.8.0
scikit-learn==1.4.0
stable-baselines3==2.3.0

# API & Backend
fastapi==0.110.0
uvicorn==0.29.0
websockets==12.0
pydantic==2.6.4
python-dotenv==1.0.1

# Data, Logging & Hardware
tensorboard==2.16.2
wandb==0.16.6
pyyaml==6.0.1
tqdm==4.66.2
pynvml==11.5.0

# Demo & CLI
qrcode==7.4.2
colorama==0.4.6

# Testing
pytest==8.1.0